# Eclipse
.project
.classpath
.settings

# Maven
target

src/main/java/com/linecorp/.DS_Store
src/main/java/com/linecorp/sample/login/infra/.DS_Store
src/main/java/com/linecorp/sample/login/infra/line/api/v2/.DS_Store
.DS_Store
